<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions for OpenStreetMap -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EventLotteryApp">
        <activity
            android:name=".EntrantView.EventDetailsActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />

        <activity
            android:name=".EntrantView.EntrantHomePageActivity"
            android:exported="false" />
        <activity
            android:name=".OrganizerHomePage"
            android:exported="false" />
        <activity
            android:name=".Authorization.AuthActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".organizer.EntrantListActivity"
            android:exported="false" />
        <activity
            android:name=".EntrantHomePage"
            android:exported="false" />
        <activity
            android:name=".organizer.CreateEventActivity"
            android:exported="false" />

        <activity
            android:name=".EntrantView.InvitationResponseActivity"
            android:exported="false"
            android:theme="@style/Theme.EventLotteryApp" />
        <activity
            android:name=".organizer.ShareQrCodeActivity"
            android:exported="false" />
        <activity
            android:name=".organizer.OrganizerEventDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".organizer.RunLotteryActivity"
            android:exported="false" />
        <activity
            android:name=".organizer.LotteryResultsActivity"
            android:exported="false" />
        <activity
            android:name=".organizer.NotifyEntrantsActivity"
            android:exported="false" />
        <activity
            android:name=".organizer.FinalizedListActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminBrowseEventsActivity"
            android:exported="true" />
        <activity android:name=".Admin.AdminHomeActivity" />
        <activity
            android:name=".Admin.AdminBrowseProfilesActivity"
            android:exported="false" />



        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
